@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --primary-font: "Varela Round", sans-serif;
  --secondry-font: "Poppins", sans-serif;
  --bg-color: #FFC0CB;
  --bg-color-2: #191970;
  --text-color: #000000;
  --text-color-2: #F8F8FF;
  --main-bg-color: #FFFFFF;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  height: 100vh;
  width: 100vw;
}

.theam-1 {
  font-family: var(--secondry-font);
  background: var(--bg-color);
}
.theam-1 .title {
  color: var(--bg-color-2);
}
.theam-1 #linkinput {
  border: 1px solid var(--bg-color-2);
}
.theam-1 #linkinput::-moz-placeholder {
  color: var(--bg-color-2);
}
.theam-1 #linkinput::placeholder {
  color: var(--bg-color-2);
}
.theam-1 #linkinput:-moz-placeholder-shown {
  color: var(--bg-color-2);
}
.theam-1 #linkinput:placeholder-shown {
  color: var(--bg-color-2);
}
.theam-1 #shortbtn {
  background: var(--bg-color-2);
  color: var(--text-color-2);
}
.theam-1 #shortbtn:hover {
  background: transparent;
  border: 1px solid var(--bg-color-2);
  color: var(--bg-color-2);
}
.theam-1 #showshortlink {
  border: 1px solid var(--bg-color-2);
  color: var(--bg-color-2);
}
.theam-1 #copybtn {
  color: var(--bg-color-2);
}
.theam-1 #light {
  border: 1px solid var(--bg-color-2);
  color: var(--bg-color-2);
}
.theam-1 #dark {
  border: none;
  color: var(--bg-color-2);
}

.theam-2 {
  font-family: var(--primary-font);
  background: var(--bg-color-2);
}
.theam-2 .title {
  color: var(--bg-color);
}
.theam-2 #linkinput {
  border: 1px solid var(--bg-color);
}
.theam-2 #linkinput::-moz-placeholder {
  color: var(--bg-color);
}
.theam-2 #linkinput::placeholder {
  color: var(--bg-color);
}
.theam-2 #linkinput:-moz-placeholder-shown {
  color: var(--bg-color);
}
.theam-2 #linkinput:placeholder-shown {
  color: var(--bg-color);
}
.theam-2 #shortbtn {
  background: var(--bg-color);
  color: var(--text-color-2);
}
.theam-2 #shortbtn:hover {
  background: transparent;
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
}
.theam-2 #showshortlink {
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}
.theam-2 #copybtn {
  color: var(--bg-color);
}
.theam-2 #dark {
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
}
.theam-2 #light {
  border: none;
  color: var(--bg-color);
}

main {
  background-color: var(--main-bg-color);
  overflow: hidden;
  padding: 15px 0;
  border-radius: 12px;
}

.inputbox {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#shortbtn {
  background: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

#linkinput {
  background: none;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}
#linkinput:focus {
  outline: none;
}

#showshortlink {
  background: none;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#showshortlink:focus {
  outline: none;
}

#copybtn {
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#dark, #light {
  padding: 5px;
  border-radius: 12px;
}/*# sourceMappingURL=style.css.map */